.DS_Store
*.rda
*.zip
slurm*.out
emr_linelist_fitting_data.csv
submodel_fits/
old_fits/
*.rds
consolidated*.csv
baseline*.csv
endsip*.csv
Inference/inference*/*.csv
Forecasting/forecast*/
.Rhistory
.RData
civis_projections/
civis_data/
scratch/
mobility_covar_table.csv
Inference/*/data/*
Inference/*/projection_outputs_*/*
Inference/*/inference_output_*/*
Inference/*/agg_mif*.csv
Forecasting/internal_plots/*
internal_data/*
*logs*
*internal_plots*